@page "/build"
@inject IPizzaSliceService PizzaSliceService

<h3>Build</h3>

<button class="btn btn-primary" @onclick="() => EatPizzaSlices(10)">Eat Pizza Slices</button>

@code {
    private void EatPizzaSlices(int amount)
    {
        PizzaSliceService.EatPizzaSlices(amount);

    }
}
