@inject IPizzaSliceService PizzaSliceService
@implements IDisposable

<div class="top-menu">
    <img src="icons/pizza.png"
         width="25"
         height="25"
    />
    <span class="popover-header">
        @PizzaSliceService.PizzaSlices
    </span>
    <AddPizzaSlices/>
</div>

@code {

    protected override void OnInitialized()
    {
        PizzaSliceService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        PizzaSliceService.OnChange -= StateHasChanged;
    }

}
