<div class="top-menu">
    <img src="icons/pizza.png"
         width="25"
         height="25"
    />
    <span class="popover-header">
    @PizzaSlices
    </span>
    <AddPizzaSlices PizzaSlicesAdded="AddPizzaSlices"/>
</div>



@code {
    [Parameter]
    public int PizzaSlices { get; set; } = 75;

    public void AddPizzaSlices(int value)
    {
        PizzaSlices += value;
    }
}
